<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    
    <%- include('./partials/nav.ejs') %>
    
    <div class="about content">
        <h2>About Us</h2>
        <p>Welcome to our website, created by Group 2 for the SDEV255 course. Our platform is designed to facilitate the scheduling and management of classes for teachers and students alike.</p>
        <p>As students ourselves, we understand the importance of having an easy-to-use platform that enables us to manage our schedules and stay organized. Our team has worked hard to create a platform that meets these needs, while also providing teachers with the tools they need to manage their classes effectively.</p>
        <p>Our platform allows teachers to create new classes and delete classes that they have created. This gives them complete control over their class schedules and ensures that they can manage their workload efficiently.</p>
        <p>For students, our platform allows them to add and drop classes from their schedules as needed. This flexibility ensures that students can make changes to their schedules as their needs evolve throughout the semester.</p>
        <p>Thank you for choosing our website for your scheduling and management needs. We hope that our platform will help you stay organized and achieve your academic goals.</p>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>